@import "../../../../styles/variables.scss";

.new-room-wraper{
    padding-right: 0.2em;
    .input-group{
        align-self: flex-end;
        .form-control{
            border-radius: 0;
            border: 0;
            background-color:$light-grey;

            &:focus{
                outline: 0;
                box-shadow: none;
            }
        }
    }
}
