@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/runtime.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" />
}

<head>
    <meta charset="utf-8">
    <title>RunJournal</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <div class="layer">
        <app-root>
        </app-root>
    </div>
</body>
